*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(135deg,#153677,#4e085f);
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    
}
.MainTodoBox
{
    background-color: white;
    border-radius: 10px;
    height: 75vh;
    width: 30vw;
}
.MainTodoBox .heading h3{
    margin-top: 1em;
    background-color: #f3a805;
    padding: 10px 0px;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    
    text-align: center;
}
input{
    padding: 8px;
    border-radius: 10px;
    margin: 1em;
    margin: 2em 1em;
    margin-left: 4em;
    font-size: 15px;
}
button{
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: larger;
}
ul {
    list-style-type: none;
    margin-left: 4em;
    
}
ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}
.crossBtn
{
    background-color: red;
   margin-right: 1em;
    padding: 4px 10px;
}
footer h3{
    color: white;
    margin-top: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    
}
@media (max-width:610px) {
    
    button{
        background-color: red;
        
    }
    .MainTodoBox{
        width: 60vw;
        
    }
    .submit{
       margin: 0% 40%; 
    }
   input{
    width: 50%;
    margin: 2 auto; /* Updated line */
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
   }
   .inputSubmit{
    margin-bottom: 1.4em;
   }
   ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
   }
   .crossBtn{
    font-size: 20px;
   }
  }
  @media (min-width:1050px) and (max-width:1472px) {
    
  }